.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100rem;
    z-index: 1;
    position: absolute;

    & > .naviC2 {
        display: flex;
        gap: 3rem;
        font-size: 20px;
        padding: 2rem;

        & > .btn2 {
            &:hover {
                background: rgba(18,69,89,255);
                border-radius: 50px;
                color: aliceblue;
            }
        }
    }
}